<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                              https://maven.apache.org/xsd/settings-1.0.0.xsd">
  <servers>
    <server>
      <id>tk164031</id>
      <username>tk164031</username>
      <password>[ukiyswnyht7w2wvv6pk3jw2gfy2zc2yhkbrztnm4tmep5xggk6la]</password>
    </server>
  </servers>
</settings>